    <div id="backup-status" class="clearfix">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <p>Last backup: {{backup_time_ago}}</p>
      </div>
      <div class="col-xs-12 hidden-sm col-md-2 col-lg-2">
        <p>Uploading: {{backup_percent}}%</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="loading-bar-outer">
          <div class="loading-bar-inner" style="width:{{backup_percent}}%"></div>
        </div>
      </div>
      <div class="col-xs-6  col-sm-6  col-md-2 col-lg-2">
        <p>Backup size: {{backup_size}}GB</p>
      </div>
      <div class="col-xs-6  col-sm-6  col-md-2 col-lg-2">
        <p id="more-info-button">More info</p>
      </div>
    </div>
