<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">

      <div id="siacoin-wallet" class="wallet">
        <h2 class="wallet-title">Siacoin</h2>
        <p class="balance-box"><input type="text" read-only class="wallet-balance" value="6513518.3513185" /><i class="ic ic-sc coin-icon"></i></p>

        <section class="button-box">
          <button class="button revealer" data-reveal="wallet"><span class="key">Show</span> wallet address</button>
          <button class="button revealer" data-reveal="secret"><span class="key">Show</span> seed passphrase</button>
        </section>

        <section class="reveal-box">
          <div class="wallet-container reveal-container" data-container="wallet">
            <p><textarea read-only class="wallet-address">002d16d5194043c76beb5cc7d2d9f04c9657ce38ee692c25471302974c3c4e42040328d0c555</textarea></p>
          </div>
          <div class="secret-container reveal-container" data-container="secret">
            <p>Your seed passphrase. Store it somewhere <strong>safe</strong></p>
            <div class="secret">
              <span>trap</span>
              <span>seek</span>
              <span>three</span>
              <span>slide</span>
              <span>person</span>
              <span>tent</span>
              <span>public</span>
              <span>unit</span>
              <span>grass</span>
              <span>pause</span>
              <span>there</span>
              <span>enroll</span>
            </div>
          </div>
        </section>
      </div>

    </div>



    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">


      <div id="bitcoin-wallet" class="wallet">
        <h2 class="wallet-title">Bitcoin</h2>
        <p class="balance-box"><input type="text" read-only class="wallet-balance" value="3.21681846868" /><i class="ic ic-btc coin-icon"></i></p>

        <section class="button-box">
          <button class="button revealer" data-reveal="wallet"><span class="key">Show</span> wallet address</button>
          <button class="button revealer" data-reveal="secret"><span class="key">Show</span> seed passphrase</button>
        </section>

        <section class="reveal-box">
          <div class="wallet-container reveal-container" data-container="wallet">
            <p><textarea read-only class="wallet-address">31uEbMgunupShBVTewXjtqbBv5MndwfXhb</textarea></p>
          </div>
          <div class="secret-container reveal-container" data-container="secret">
            <p>Your seed passphrase. Store it somewhere <strong>safe</strong></p>
            <div class="secret">
              <span>grass</span>
              <span>pause</span>
              <span>seek</span>
              <span>three</span>
              <span>trap</span>
              <span>public</span>
              <span>slide</span>
              <span>enroll</span>
              <span>person</span>
              <span>tent</span>
              <span>there</span>
              <span>unit</span>
            </div>
          </div>
        </section>
      </div>


    </div>
  </div>
</div>
