[Unit]
Description=Minebd daemon
Before=nbd@.service
#Requires=
#After=

[Service]
Type=notify
# Once we properly install Minbd, we should put it in a nicer path.
ExecStart=/usr/bin/java -jar /root/mineblimp_vm/minebd/build/libs/minebd-1.0-SNAPSHOT-all.jar
ExecStartPost=/usr/bin/systemctl start nbd@nbd0
SuccessExitStatus=130 143
#ExecStop=

[Install]
WantedBy=multi-user.target
