<div id="backups">
  <div id="backups-app">

    <div id="panel">
      <button id="new-snapshot-button" class="panel-button">&nbsp;</button>
      <button id="display-size-scale-button" class="panel-button active">&nbsp;</button>
      <button id="navigator-button" class="panel-button active">&nbsp;</button>
    </div>


    <div id="graph">

      <div class="loading"></div>

      <div id="size-scale" class="active">
        <div class="positive size-scale">
          <div class="fourty"></div>
          <div class="sixty"></div>
          <div class="seventy"></div>
          <div class="seventyfive"></div>
        </div>
        <div class="negative size-scale">
          <div class="fourty"></div>
          <div class="sixty"></div>
          <div class="seventy"></div>
          <div class="seventyfive"></div>
        </div>
      </div>

      <div id="graph-inner">

        <div id="new-files" class="bar-container clearfix">
        </div>

        <div id="cumulative-files" class="bar-container clearfix">
        </div>

      </div>

    </div>

    <div id="timeline" class="active">

      <div class="window"></div>

      <div class="loading"></div>

      <div id="timeline-bars" class="bar-container clearfix">
      </div>

    </div>
  </div>
</div>
