<div id="backups">
  <div id="backups-app">

    <div id="panel">

    </div>


    <div id="graph">

      <div class="loading"></div>

      <div id="graph-inner">

        <div id="new-files" class="bar-container clearfix">
        </div>

        <div id="cumulative-files" class="bar-container clearfix">
        </div>

      </div>

    </div>

    <div id="browser">

      <div class="window"></div>

      <div class="loading"></div>

      <div id="browser-bars" class="bar-container clearfix">
      </div>

    </div>
  </div>
</div>
