<div id="filesystem">
  <div id="content" class="content">
    <div class="container-fluid">
      <div class="row">

        <div id="breadcrumbs"></div>

        <ul id="filesystem-tree" class="list-view clearfix" data-view="list-view">
          <div id="filesystem-loading"><span><i class="ic ic-icomoon-spinner spinner"></i></span><span>Loading filesystem</span></div>
          <!-- filled with files/folders tree -->
        </ul>
      </div>
    </div>
  </div>
</div>






<div id="filesystem-action-bar">
  <div class="container-fluid clearfix">



    <div id="dashboard" class="filesystem-action-element">
      <div id="dashboard-button" class="action-button">
        <span class="icon"><i class="ic ic-icomoon-dashboard"></i></span>
        <span class="text">Dashboard</span>
        <div class="progress"></div>
        <div class="action-button-hover">
          <p>Graphs & statistics here</p>
        </div>
      </div>
    </div>



    <div id="create-folder" class="filesystem-action-element">
      <div class="action-button">
        <span class="icon"><i class="ic ic-icomoon-folder-plus"></i></span>
        <span class="text">Create folder</span>
        <div class="action-button-hover">
          <p>Create new folder</p>
        </div>
      </div>
      <div class="create-folder-options">
        <input type="text" id="new-folder-name" placeholder="Folder name" />
        <span class="button accept">OK</span>
        <span class="button cancel">Cancel</span>
      </div>
    </div>



    <div id="filesystem-drag-n-drop" class="filesystem-action-element">
      <div id="upload-button" class="action-button">
        <span class="icon"><i class="ic ic-icomoon-folder-upload"></i></span>
        <span class="text">Upload files</span>
        <div class="action-button-hover">
          <h3>Upload files to Minebox</h3>
          <p>Select the destination folder above and upload the files by pressing the following button.</p>
        </div>
      </div>
      <input type="file" name="upload[]" id="upload" style="display:none;" multiple />
    </div>



    <div id="filesystem-uploading" class="filesystem-action-element">
      <div id="upload-button" class="action-button">
        <span class="icon"><i class="ic ic-icomoon-spinner"></i></span>
        <span class="text">Queue status</span>
        <div class="progress"></div>
        <div class="action-button-hover">
          <p><span class="number"></span> <span>files are being uploaded</span></p>
          <p><span class="size"></span> kbytes (<span class="percent"></span>%)</p>
        </div>
      </div>
    </div>



    <div id="trash-bin" class="filesystem-action-element">
      <div id="trash-bin-button" class="action-button">
        <span class="icon"><i class="ic ic-icomoon-bin"></i></span>
        <span class="text">Trash bin</span>
        <div class="action-button-hover">
          <p>There are no files in the Trash bin</p>
        </div>
      </div>
    </div>



    <div id="view-manager" class="filesystem-action-element">
      <div id="view-manager-button" class="action-button">

        <div class="view-manager-button active" data-button="list">
          <div class="icon list-view">
            <div class="element"></div>
            <div class="element"></div>
            <div class="element"></div>
            <div class="element"></div>
          </div>
        </div>

        <div class="view-manager-button" data-button="grid">
          <div class="icon grid-view">
            <div class="element"></div>
            <div class="element"></div>
            <div class="element"></div>
            <div class="element"></div>
          </div>
        </div>

        <div class="action-button-hover">
          <p>Toggle list or grid view</p>
        </div>
      </div>
    </div>



  </div>
</div>








<div id="unlock-encrypted-folder-outer" style="display:none;">
  <div id="unlock-encrypted-folder"></div>
</div>








<div class="context-menu file">
  <ul>
    <li><i class="ic ic-trash"></i>Remove file</li>
    <li><i class="ic ic-pencil"></i>Rename file</li>
    <li><i class="ic ic-users"></i>File access privileges</li>
    <li><i class="ic ic-license"></i>File contract</li>
    <li><i class="ic ic-layers"></i>File properties</li>
  </ul>
</div>








<div class="context-menu folder">
  <ul>
    <li><i class="ic ic-trash"></i>Remove folder</li>
    <li><i class="ic ic-pencil"></i>Rename folder</li>
    <li><i class="ic ic-users"></i>Folder access privileges</li>
    <li><i class="ic ic-license"></i>Folder contract</li>
    <li><i class="ic ic-layers"></i>Folder properties</li>
  </ul>
</div>








<div class="context-menu volume">
  <ul>
    <li><i class="ic ic-pencil"></i>Rename volume</li>
    <li><i class="ic ic-users"></i>Volume privileges</li>
    <li><i class="ic ic-license"></i>Volume contract</li>
    <li><i class="ic ic-layers"></i>Volume properties</li>
  </ul>
</div>
