#resources-widget .system-state {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
#resources-widget .resource-monitor {
  margin-top: 15px;
}
#resources-widget .resource-monitor .property {

}
#resources-widget .resource-monitor .bar {
  width: 100%;
  height: 4px;
}
#resources-widget .resource-monitor .fill {
  width: 1%;
  height: 100%;
  transition: all ease .3s;
}
#resources-widget .resource-witness {

}
#resources-widget .resource-witness .stats {

}
#resources-widget .resource-witness .stats .up {
  margin-right: 15px;
}
#resources-widget .resource-witness .stats .down {

}
#resources-widget .resource-witness .stats .value {
  font-weight: 600;
}
