<div id="snapshots">
  <div id="snapshots-app">

    <div id="panel">
      <button id="new-snapshot-button" class="panel-button">&nbsp;</button>
      <button id="display-size-scale-button" class="panel-button active">&nbsp;</button>
      <button id="navigator-button" class="panel-button active">&nbsp;</button>
    </div>


    <div id="graph">

      <div class="loading"></div>

      <div id="size-scale" class="active">
        <div class="positive size-scale">
          <div class="first-line line"></div>
          <div class="second-line line"></div>
          <div class="third-line line"></div>
          <div class="fourth-line line"></div>
        </div>
        <div class="negative size-scale">
          <div class="first-line line"></div>
          <div class="second-line line"></div>
          <div class="third-line line"></div>
          <div class="fourth-line line"></div>
        </div>
      </div>

      <div id="graph-inner">

        <div id="new-files" class="bar-container clearfix">
        </div>

        <div id="cumulative-files" class="bar-container clearfix">
        </div>

      </div>

    </div>

    <div id="timeline" class="active">

      <div class="window"></div>

      <div class="loading"></div>

      <div id="timeline-bars" class="bar-container clearfix">
      </div>

    </div>


    <div id="snapshot-data-viewer">
      <div class="obfuscation-layer"></div>
      <div class="card">
        <img src="assets/images/logo/minebox-logo-white.png" class="logo" />
        <div class="contents">
          <h3 class="snapshot-name">#<span class="value"></span></h3>
          <div class="progress-bars">
            <p>Relative progress <span class="relative-progress-value"></span>:</p>
            <div class="progress-bar relative-progress">
              <div class="bar"></div>
            </div>
            <p>Total progress <span class="total-progress-value"></span>:</p>
            <div class="progress-bar total-progress">
              <div class="bar"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class="elements-list">
                <li class="date">Date: <span class="value"></span></li>
                <li class="status">Status: <span class="value"></span></li>
                <li class="metadata">Metadata: <span class="value"></span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="elements-list">
                <li class="files">Files number: <span class="value"></span></li>
                <li class="size">Size: <span class="value"></span>Bytes</li>
                <li class="progress">Progress: <span class="value"></span>%</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>