<div id="contracts">

	<div class="container">

		<ul id="contracts-list" class="clearfix">

		</ul>

	</div>

	<div id="contract-viewer">

		<div id="contract-viewer-contents">
			<div class="header">
				<img src="assets/images/logo/minebox-logo-white.png" />
				<p>Sia renter contracts</p>
			</div>
			<ul id="contract-contents">
				<li class="id"><span class="label">ID:</span>&nbsp;<span class="value"></span></li>
				<li class="host"><span class="label">Host:</span>&nbsp;<span class="value"></span></li>
				<li class="funds-remaining"><span class="label">Funds remaining:</span>&nbsp;<span class="value"></span> SC</li>
				<li class="funds-spent"><span class="label">Funds spent:</span>&nbsp;<span class="value"></span> SC</li>
				<li class="fees-spent"><span class="label">Fees spent:</span>&nbsp;<span class="value"></span> SC</li>
				<li class="data-size"><span class="label">Data size:</span>&nbsp;<span class="value"></span></li>
				<li class="height-end"><span class="label">Height end:</span>&nbsp;<span class="value"></span></li>
			</ul>
		</div>

		<div class="generic-close-button"></div>
		
	</div>

</div>
