<div id="wallet">

	<div id="wallet-balance-box">
		<div class="container-fluid">
			<h1>Your balance</h1>
			<p class="wallet-balance" id="wallet-sia"><span class="currency-value"></span><span class="currency-sign">SC</span></p>
			<p class="wallet-balance">
				<span id="wallet-bitcoin">~<span class="currency-value">2.13726561</span><span class="currency-sign">BTC</span>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<span id="wallet-fiat">~<span class="currency-value">4569.47</span><span class="currency-sign">EUR</span>
			</p>
			<p id="wallet-activity-witness"></p>
		</div>
	</div>



	<div id="content" class="content">
		<div class="container-fluid">

			<div id="wallet-tabs-buttons">
				<button class="button" id="receive-tab-button" data-tab="receive-tab">Receive</button>
				<button class="button" id="send-tab-button" data-tab="send-tab">Send</button>
			</div>

		</div>
	</div>



	<div id="wallet-tabs">

		<div id="send-tab" class="wallet-tab">

			<div class="generic-close-button close-wallet-tab-button"></div>

			<div class="tab-content">
				<h2>Send funds</h2>

				<div class="wallet-tab-group">
					<input type="text" id="send-to-address" placeholder="Type in an address" class="input-plus-button" />
					<button class="button button-for-input" id="scan-address-button"><i class="ic ic-qrcode"></i></button>

					<p>Specify amount:</p>
					<input type="number" min="0" id="amount-to-send" value="0" />
					<p id="amount-feedback"></p>
					<p class="available-amount-line">You have available <span id="available-amount"></span>&nbsp;SC</p>

					<button class="button" id="send-button">Send funds</button>
				</div>
			</div>

		</div>


		<div id="receive-tab" class="wallet-tab">

			<div class="generic-close-button close-wallet-tab-button"></div>

			<div class="tab-content">

				<h2>Receive funds</h2>

				<div class="wallet-tab-group receive-params">
					<input type="text" id="user-wallet-address" readonly class="input-plus-button" />
					<button class="button button-for-input" id="show-qr-code-button"><i class="ic ic-qrcode"></i></button>
					<span id="user-wallet-address-feedback" style="display:none;">Wallet address copied to your clipboard</span>
				</div>

				<div class="wallet-tab-group">
					<p>Specify amount <span>(<em>optional</em>)</span> :</p>
					<input type="number" min="0" id="amount-to-receive" />
				</div>

			</div>

		</div>
	</div>



	<div id="instascan-box">
		<div id="close-instascan-button" class="generic-close-button"></div>
		<div id="instascan-container">
			<video id="instascan-video"></video>
		</div>
	</div>


	
	<div id="receive-funds-qr-code">
		<div id="qr-code"></div>
		<div id="hide-qr-code-button" class="generic-close-button"></div>
	</div>

</div>
