<div id="wallet">

	<div id="wallet-balance-box">
		<div class="container-fluid">
			<h1>Your balance</h1>
			<p class="wallet-balance" id="wallet-sia"><span class="currency-value"></span><span class="currency-sign">SC</span></p>
			<p class="wallet-balance">
				<span class="unconfirmed-incoming-funds"><span class="currency-value"></span><span class="currency-sign">SC</span></span>
			</p>
			<p id="wallet-activity-witness"></p>
		</div>
	</div>



	<div id="content" class="content">

		<div id="wallet-tabs-buttons">
			<div class="container-fluid">
				<button class="button" id="receive-tab-button" data-tab="receive-tab">Receive</button>
				<button class="button" id="shapeshift-button" data-tab="shapeshift-tab"><img src="assets/images/shapeshift-button.png" /></button>
				<button class="button" id="send-tab-button" data-tab="send-tab">Send</button>
			</div>
		</div>

		<div id="transaction-history-box">
			<div id="transaction-history-filter">
				<h1>Transaction history</h1>
				<div class="container">
					<button class="button active" data-filter="all">All</button>
					<button class="button" data-filter="sent">Sent</button>
					<button class="button" data-filter="received">Received</button>
					<button class="button" data-filter="exchanged">Exchanged</button>
				</div>
			</div>

			<div id="transaction-history">
				<!-- filled dynamically -->
			</div>
		</div>

	</div>



	<div id="wallet-tabs">

		<div id="send-tab" class="wallet-tab">

			<div class="generic-close-button close-wallet-tab-button"></div>

			<div class="tab-content">
				<h2>Send funds</h2>

				<div class="wallet-tab-group">
					<input type="text" placeholder="Type in an address" class="input-plus-button send-to-address" />
					<button class="button button-for-input scan-address-button"><i class="ic ic-qrcode"></i></button>

					<p>Specify amount:</p>
					<input type="number" class="amount-to-send" />
					<p class="amount-feedback"></p>
					<p class="available-amount-line">You have available <span class="available-amount"></span>&nbsp;SC</p>

					<button class="button" id="send-button">Send funds</button>
				</div>
			</div>

		</div>


		<div id="receive-tab" class="wallet-tab">

			<div class="generic-close-button close-wallet-tab-button"></div>

			<div class="tab-content">

				<h2>Receive funds</h2>

				<div class="wallet-tab-group receive-params">
					<input type="text" readonly class="input-plus-button user-wallet-address" />
					<button class="button button-for-input show-qr-code-button"><i class="ic ic-qrcode"></i></button>
					<span class="user-wallet-address-feedback" style="display:none;">Wallet address copied to your clipboard</span>
				</div>

				<div class="wallet-tab-group">
					<p>Specify amount <span>(<em>optional</em>)</span> :</p>
					<input type="number" min="0" class="amount-to-receive" />
				</div>

			</div>

		</div>


		<div id="shapeshift-tab" class="wallet-tab">

			<div class="generic-close-button close-wallet-tab-button"></div>

			<div class="tab-content">

				<h2>Shapeshift your funds</h2>

				<div class="wallet-tab-group">
					<p>Specify amount:</p>
					<input type="number" min="0" class="amount-to-send" />
					<p class="amount-feedback"></p>
					<p class="available-amount-line">You have available <span class="available-amount"></span>&nbsp;SC</p>
				</div>

				<div class="wallet-tab-group shapeshift-params">
					<p>Select the destination coin:</p>
					<div class="relative">
						<p class="destination-coin-witness input-plus-button"></p>
						<button class="button button-for-input" id="unfold-destination-coin-list"><i class="ic ic-arrow-down"></i></button>
						<div id="destination-coin-list"></div>
					</div>
					<input type="hidden" id="destination-coin" readonly />

					<p>Type in a valid address:</p>
					<input type="text" class="input-plus-button send-to-address" />
					<button class="button button-for-input scan-address-button"><i class="ic ic-qrcode"></i></button>
					<p class="address-verification-witness"></p>
				</div>

				<div class="wallet-tab-group">
					<button class="button" id="shapeshift-process-button">Convert now</button>
				</div>

			</div>

		</div>


	</div>



	<div id="instascan-box">
		<div id="close-instascan-button" class="generic-close-button"></div>
		<div id="instascan-container">
			<video id="instascan-video"></video>
		</div>
	</div>


	
	<div id="receive-funds-qr-code">
		<div id="qr-code"></div>
		<div id="hide-qr-code-button" class="generic-close-button"></div>
	</div>

</div>
