#backups {

}

#backups-app {
  position: fixed;
  top: 60px; /* header's height */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* header's height */
}








/* panel */
#panel {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
  height: 100px;
  z-index: 1000;
  border: 3px solid rgba(36, 172, 206, 0.8);
  background-color: rgba(36, 172, 206, 0.1);
}








/* graph */
#graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc( 100% - 80px ); /* #browser's height */
  background-color: rgba(36, 172, 206, 0.15);
  overflow: hidden;
}
  #graph-inner {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200%;
    height: 100%;
  }
    #new-files {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
    }
    #new-files:before {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #24acce;
    }
    #cumulative-files {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
    }
      #cumulative-files .bar {
        bottom: unset;
        top: 0;
      }








/* browser */
#browser {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 5px;
  background-color: rgba(255,255,255,0.05);
}
  #browser .window {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    z-index: 100;
  }
  #browser .window:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc( 100% - 10px );
    height: calc( 100% - 10px );
    border: 3px solid rgba(36, 172, 206, 0.8);
    background-color: rgba(36, 172, 206, 0.1);
  }
  #browser-bars {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 90;
  }










/* bar-container and anything related to bars */
.bar-container {
  width: 100%;
  height: 100%;
  position: relative;
}
  .bar-box {
    float: right;
    display: block;
    height: 100%;
    position: relative;
  }
    .bar {
      position: absolute;
      bottom: 0;
      background-color: rgba(36, 172, 206, 0.8);
      height: 80%
    }
/* bars exceptions */
#graph .bar-box {
  width: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
  #graph .bar {
    left: 10px;
    width: calc( 100% - 20px );
  }
#browser .bar-box {
  width: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
  #browser .bar {
    left: 2px;
    width: calc( 100% - 4px );
  }













