#contract-info {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contract {
  padding: 15px;
}
.contract:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 20%;
  width: 60%;
  height: 10px;
  z-index: 1;
}
.contract-inner {
  padding: 30px 15px;
}
.contract-inner h2 {
  text-align: center;
}
.contract ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
