#donate {

}

#donate {

}

#donate section {
  padding: 80px 0;
}
#donate section + section {

}

#donate .user-hdd {
  text-align: center;
}
#donate .user-hdd .hdd {
  width: 100%;
  background-color: rgba(255,255,255,.2);
}
#donate .hdd>div {
  display: block;
  float: left;
  position: relative;
  height: 4px;
  cursor: pointer;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
}
#donate .hdd .used {
  width: 35%;
  background-color: #0b5163;
}
#donate .hdd .not-used {
  width: 65%;
  background-color: #0f2c33;
}
#donate .hdd .donation {
  width: 0%;
}
#donate.donator .hdd .donation {
  background-color: #24acce;
}
#donate .hdd .hover {
  position: absolute;
  opacity: .5;
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -o-transform: translateY(15px);
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  width: 100px;
  margin-left: -50px;
}
#donate .hdd>div:hover .hover {
  opacity: 1;
}
#donate .hdd .hover span {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
}
#donate .hdd .legend {

}
#donate .hdd .value {
  margin-left: 5px;
}
#donate-button {
  cursor: pointer;
  margin: 100px auto 0;
  width: 120px;
  height: 120px;
  line-height: 20px;
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #24acce;
  font-size: 16px;
  border-bottom: 5px solid #0b5163;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
}
#donate-button:focus,
#donate-button:hover {
  background-color: #31cdf4;
  border-bottom: 5px solid #20819a;
  outline: 0;
}
#donate-button.clicked {
  background-color: #24ce83 !important;
  border-bottom: 5px solid #0b6321 !important;
}
#donate-button span {
  font: inherit;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 80px;
}
#donate-button.disabled {
  cursor: not-allowed;
  opacity: .5;
}


#donate .resume {
  text-align: center;
}
#donate .resume-box {
  padding: 50px 0;
}
#donate .resume h5 {
  border-bottom: 2px solid #24acce;
  margin-bottom: 15px;
}
#donate .resume span {
  position: relative;
}
#donate .resume span:before {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,.3);
}
#donate .resume-inner {
  max-width: 400px;
  margin: 0 auto;
}
#donate.not-donator .donating {
  display: none;
}
#donate.donator .not-donating {
  display: none;
}
#donate .resume .cancel-donation {
  border-bottom: 1px dashed #24acce;
  color: #24acce;
  cursor: pointer;
}
#donate .resume .cancel-donation:before {
  display: none;
}

@media ( max-width: 991px ) {
  #donate .user-hdd .hdd {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #donate .resume-inner {
    max-width: 100%;
  }
}
