#filesystem {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 80px;
  box-sizing: border-box;
  height: 100%;
}




/* BREADCRUMBS */
#breadcrumbs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 5px 10px;
}
#breadcrumbs>span {
  cursor: pointer;
  text-decoration: none;
}
#breadcrumbs>span:hover {
  text-decoration: underline;
}
#breadcrumbs>span:first-child:before {
  content: '/';
}
#breadcrumbs>span:after {
  content: '/';
}
#breadcrumbs>span + span {

}



/* FILE SYSTEM LOADING */
#filesystem-loading {
  margin: 60px;
  text-align: center;
}
#filesystem-loading>span {
  display: inline-block;
  vertical-align: middle;
}
#filesystem-loading>span:first-child {
  margin-right: 10px;
}
#filesystem-loading .spinner {
  animation: spinner 2.5s;
  -webkit-animation: spinner 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}



/* FILE TREE */
#filesystem-tree { /* ul */
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: calc( 100% - 35px );
}
#filesystem-tree span,
#filesystem-tree ul,
#filesystem-tree li {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* filesystem tree list view */
#filesystem-tree.list-view li {
  border-top-width: 1px;
  border-top-style: solid;
  min-width: 1000px;
}
#filesystem-tree.list-view li:nth-child(odd) {

}
#filesystem-tree.list-view li:nth-child(even) {

}
#filesystem-tree.list-view li:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#filesystem-tree.list-view span {
  display: block;
  float: left;
  overflow: hidden;
}
#filesystem-tree.list-view li>span.inner {
  float: none !important;
}
#filesystem-tree.list-view span.inner span {
  padding: 5px 8px;
  text-align: center;
  height: 28px;
}
#filesystem-tree.list-view span.inner span + span {
  border-left-width: 1px;
  border-left-style: solid;
}
#filesystem-tree.list-view span.name {
  border-left-width: 0 !important;
  border-left-style: solid !important;
  text-align: left !important;
}
#filesystem-tree.list-view .icon { width: 2%; }
#filesystem-tree.list-view .name { width: 30%; }
#filesystem-tree.list-view .size { width: 13%; }
#filesystem-tree.list-view .permissions { width: 10%; }
#filesystem-tree.list-view .creation { width: 15%; }
#filesystem-tree.list-view .modification { width: 15%; }
#filesystem-tree.list-view .last-open { width: 15%; }
@media ( max-width: 1000px ) {
  #filesystem-tree.list-view { overflow-x: scroll; }
  #filesystem-tree.list-view .icon { width: 2%; }
  #filesystem-tree.list-view .name { width: 21%; }
  #filesystem-tree.list-view .size { width: 13%; }
  #filesystem-tree.list-view .permissions { width: 10%; }
  #filesystem-tree.list-view .creation { width: 17%; }
  #filesystem-tree.list-view .modification { width: 17%; }
  #filesystem-tree.list-view .last-open { width: 17%; }
}

/* filesystem tree grid view */
#filesystem-tree.grid-view li {
  display: block;
  float: left;
  width: 8.3337%;
  padding: 3px;
}
@media ( max-width: 1400px ) { #filesystem-tree.grid-view li { width: 12.5% } } /* 8 on a row */
@media ( max-width: 1200px ) { #filesystem-tree.grid-view li { width: 16.6667% } } /* 6 on a row */
@media ( max-width: 996px ) { #filesystem-tree.grid-view li { width: 20% } } /* 5 on a row */
@media ( max-width: 768px ) { #filesystem-tree.grid-view li { width: 25% } } /* 4 on a row */
@media ( max-width: 600px ) { #filesystem-tree.grid-view li { width: 33.3337% } } /* 3 on a row */
@media ( max-width: 460px ) { #filesystem-tree.grid-view li { width: 50% } } /* 1 on a row */
@media ( max-width: 360px ) { #filesystem-tree.grid-view li { width: 100% } } /* 1 on a row */
#filesystem-tree.grid-view .inner {
  display: block;
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}
#filesystem-tree.grid-view .inner span {
  display: none;
}
#filesystem-tree.grid-view .inner .icon {
  display: block;
  font-size: 60px;
  line-height: 90px;
  height: 90px;
  width: 100%;
  text-align: center;
}
#filesystem-tree.grid-view .inner .name {
  display: block;
  text-align: center;
  height: 60px;
}





/* FILESYSTEM ACTION BAR (WHERE ICONS IN THE BOTTOM) */
#filesystem-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: left;
}
.filesystem-action-element {
  display: block;
  float: left;
  width: 200px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
}
.filesystem-action-element .action-button {
  position: relative;
  display: block;
  line-height: inherit;
  height: inherit;
  text-align: center;
}
.filesystem-action-element .action-button span {
  display: inline-block;
  line-height: inherit;
  height: inherit;
  vertical-align: middle;
  text-align: center;
}
.filesystem-action-element .action-button .icon {
  margin-right: 15px;
  font-size: 20px;
}
.filesystem-action-element .action-button-hover {
  display: none;
  position: absolute;
  width: 360px;
  height: auto;
  padding: 20px;
  left: 50%;
  bottom: 100%;
  z-index: 100;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.filesystem-action-element .action-button:hover .action-button-hover,
.filesystem-action-element .action-button.hover .action-button-hover {
  display: block;
}
@media ( max-width: 768px ) {
  .filesystem-action-element {
    width: 33.3333%;
  }
  .filesystem-action-element .action-button {
    text-align: center;
  }
  .filesystem-action-element .action-button .text {
    display: none;
  }
  .filesystem-action-element .action-button-hover {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
  }
}
#filesystem-uploading .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  opacity: 0;
  transition: all ease .3s;
}
#filesystem-uploading.loading .progress {
  opacity: 1;
}

#view-manager {

}
#view-manager-manager {
  text-align: center;
}
#view-manager .view-manager-button {
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  padding: 9px;
  transition: background ease .3s;
  cursor: pointer;
}
#view-manager .view-manager-button.active {

}

#view-manager .view-manager-button .icon {
  width: 100%;
  height: 100%;
  position: relative;
}
#view-manager .view-manager-button .icon>.element {
  position: absolute;
  display: block;
}
/*viewmanager button: list view*/
#view-manager .view-manager-button .icon.list-view {

}
#view-manager .view-manager-button .icon.list-view>.element {
  height: 4px;
}
#view-manager .view-manager-button .icon.list-view>.element:nth-child(1) {
  width: 2px;
  top: 1px;
  left: 0;
}
#view-manager .view-manager-button .icon.list-view>.element:nth-child(2) {
  width: 8px;
  top: 1px;
  left: 4px;
}
#view-manager .view-manager-button .icon.list-view>.element:nth-child(3) {
  width: 2px;
  top: 7px;
  left: 0;
}
#view-manager .view-manager-button .icon.list-view>.element:nth-child(4) {
  width: 8px;
  top: 7px;
  left: 4px;
}
/*viewmanager button: grid view*/
#view-manager .view-manager-button .icon.grid-view {

}
#view-manager .view-manager-button .icon.grid-view>.element {
  width: 5px;
  height: 5px;
}
#view-manager .view-manager-button .icon.grid-view>.element:nth-child(1) {
  top: 0;
  left: 0;
}
#view-manager .view-manager-button .icon.grid-view>.element:nth-child(2) {
  top: 0;
  right: 0;
}
#view-manager .view-manager-button .icon.grid-view>.element:nth-child(3) {
  bottom: 0;
  left: 0;
}
#view-manager .view-manager-button .icon.grid-view>.element:nth-child(4) {
  bottom: 0;
  right: 0;
}
