@keyframes loading {
  0    { width: 0; left: 0; opacity: 1; }
  40%  { width: 400px; opacity: 1; }
  80%  { width: 0; left: 100%; opacity: 0; }
}
@-webkit-keyframes loading {
  0    { width: 0; left: 0; opacity: 1; }
  40%  { width: 400px; opacity: 1; }
  80%  { width: 0; left: 100%; opacity: 0; }
}
@-moz-keyframes loading {
  0    { width: 0; left: 0; opacity: 1; }
  40%  { width: 400px; opacity: 1; }
  80%  { width: 0; left: 100%; opacity: 0; }
}
@-o-keyframes loading {
  0    { width: 0; left: 0; opacity: 1; }
  40%  { width: 400px; opacity: 1; }
  80%  { width: 0; left: 100%; opacity: 0; }
}
