<div class="col-xs-12 col-sm-6 col-md-4 contract">
  <div class="contract-inner">
    <h2>#{{id}}</h2>
    <ul>
      <li class="file-size-bytes"><strong>File size</strong>:<input type="text" read-only value="{{file-size-bytes}} bytes" /></li>
      <li class="max-duration-weeks"><strong>Maximum duration</strong>:<input type="text" read-only value="{{max-duration-weeks}} weeks" /></li>
      <li class="starting-time"><strong>Timestamp</strong>:<input type="text" read-only value="{{starting-time}}" /></li>
      <li class="collateral-per-tb-month-sc"><strong>Collateral per month</strong>:<input type="text" read-only value="{{collateral-per-tb-month-sc}} SC" /></li>
      <li class="price-per-tb-per-month-sc"><strong>Price per month</strong>:<input type="text" read-only value="{{price-per-tb-per-month-sc}} TB/SC" /></li>
      <li class="bandwidth-price-sc"><strong>Bandwidth price</strong>:<input type="text" read-only value="{{bandwidth-price-sc}} SC" /></li>
    </ul>
  </div>
</div>
