<div id="backups-widget" class="widget">
  <div class="widget-inner">
    <div class="resources-box" style="display:none;">
      <link type="text/css" rel="stylesheet" href="./css/widgets/backups.css" />
      <script type="text/javascript" src="./js/widgets/backups.js"></script>
    </div>
    <div class="widget-title">
      <h5>Backups</h5>
      <div class="action-box">
        <i class="ic ic-expand expand-widget-button"></i>
        <i class="ic ic-times close-widget-button"></i>
      </div>
    </div>
    <div class="widget-content">
      <section class="widget-content-section">
        <p>Last backup taken:</p>
        <p>20/09/2016 22:19:57 CET</p>
      </section>
      <section class="widget-content-section">
        <p>Next backup scheduled:</p>
        <p>17/10/2016 11:50 CET</p>
      </section>
      <section class="widget-content-section">
        <div class="resource-monitor backup">
          <p class="property">Backup <em class="backup-name">#hFGdUcDg</em> <span class="usage"><span class="value">22.3</span>%</span></p>
          <div class="bar">
            <div class="fill" style="width:22.3%"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
