<div id="disks-widget" class="widget">
  <div class="resources-box" style="display:none;">
    <link type="text/css" rel="stylesheet" href="./css/widgets/disks.css" />
    <script type="text/javascript" src="./js/widgets/disks.js"></script>
  </div>
  <div class="widget-inner">
    <div class="widget-title">
      <h5>Disks</h5>
      <div class="action-box">
        <i class="ic ic-expand expand-widget-button"></i>
        <i class="ic ic-times close-widget-button"></i>
      </div>
    </div>
    <div class="widget-content">
      <section class="widget-content-section">
        <h6>Volumes usage</h6>
        <div class="resource-monitor storage">
          <p class="property">Storage <span class="usage"><span class="value">56</span>%</span></p>
          <div class="bar">
            <div class="fill" style="width:56%;"></div>
          </div>
        </div>
        <div class="resource-monitor monetize">
          <p class="property">Monetize <span class="usage"><span class="value">25</span>%</span></p>
          <div class="bar">
            <div class="fill" style="width:25%;"></div>
          </div>
        </div>
      </section>
      <section class="widget-content-section">
        <h6>Disk usage</h6>
        <div class="resource-monitor hdd-1">
          <p class="property">HDD #1 <span class="usage"><span class="value">40</span>%</span></p>
          <div class="bar">
            <div class="fill"></div>
          </div>
        </div>
        <div class="resource-monitor hdd-2">
          <p class="property">HDD #2 <span class="usage"><span class="value">29</span>%</span></p>
          <div class="bar">
            <div class="fill"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
