<div id="resources-widget" class="widget">
  <div class="resources-box" style="display:none;">
    <link type="text/css" rel="stylesheet" href="./css/widgets/resources.css" />
    <script type="text/javascript" src="./js/widgets/resources.js"></script>
  </div>
  <div class="widget-inner">
    <div class="widget-title">
      <h5>Resources Monitor</h5>
      <div class="action-box">
        <i class="ic ic-expand expand-widget-button"></i>
        <i class="ic ic-times close-widget-button"></i>
      </div>
    </div>
    <div class="widget-content">
      <section class="widget-content-section">
        <h6>Your system is working</h6>
        <p class="system-state good">Good</p>
      </section>
      <section class="widget-content-section">
        <div class="resource-monitor cpu">
          <p class="property">CPU <span class="usage"><span class="value">1</span>%</span></p>
          <div class="bar">
            <div class="fill"></div>
          </div>
        </div>
        <div class="resource-monitor ram">
          <p class="property">RAM <span class="usage"><span class="value">1</span>%</span></p>
          <div class="bar">
            <div class="fill"></div>
          </div>
        </div>
        <div class="resource-monitor resource-witness lan">
          <p class="property">LAN</p>
          <div class="stats">
            <span class="up">Up <span class="value">4</span>&nbsp;KB/s</span>
            <span class="down">Down <span class="value">8</span>&nbsp;KB/s</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
