html {
  /*background-image: url(../assets/images/gradient-bg-light.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;*/
  background: #1a7d96;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1a7d96, #0b313b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1a7d96, #0b313b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  color: #fff;
  font-size: 12px;
}
#topbar {
  background-color: rgba(0,0,0,0.4);
}
#header {
  background-color: #002832;
}
::selection {
  background: #000;
  color: #24acce;
}
::-moz-selection {
  background: #000;
  color: #24acce;
}


/* MENU */
#menu li:hover {
  background-color: #004455;
}
#menu li:after {
  background-color: #24acce;
}
#mobile-menu .mobile-menu .bar {
  background-color: #fff;
}
#mobile-menu .mobile-menu.active .bar {
  background-color: #24acce;
}
@media ( max-width: 991px ) {
  #menu-box.active {
    background-color: #000;
    color: #24acce;
  }
  #menu-box.active li:before {
    color: #00f6ff;
  }
}



/* SIDEBAR */
#sidebar {
  background-color: rgba(0, 40, 50, 0.4);
}
.sidebar-block li:hover {
  background-color: #002832;
}
.sidebar-block li.active {
  background-color: #08333e;
}



/* FORMS */
input, input[type="checkbox"],
textarea, select,
.select, .button {
  color: #fff;
  outline-width: 0 !important;
  outline-color: transparent !important;
}
input, input[type="checkbox"], textarea, select {
  background-color: transparent;
  border: 1px solid rgba(36, 172, 206, 0.2);
}
input:hover, input[type="checkbox"]:hover,
textarea:hover, select:hover, .select:hover {
  border: 1px solid rgba(36, 172, 206, 0.5);
}
input:focus, input[type="checkbox"]:focus,
textarea:focus, select:focus, .select:focus {
  border-color: #24acce;
}
input[type="checkbox"] {
  background-color:rgba(255,255,255,.1);
}
input[type="checkbox"]:focus {
  background-color:rgba(255,255,255,.4);
}
input[type="checkbox"]:before {
  background-color: #fff;
}
.button {
  background-color: rgba(36, 172, 206, 0.6);
  color: #000;
}
.button:after {
  background-color: #fff;
}
.button:hover {
  background-color: rgba(49, 197, 234, 0.6);
}
.button:focus {
  background-color: #37d7ff;
}
.back-button {
  background-color: rgba(255,255,255,.2) !important;
}
.back-button:hover {
  background-color: rgba(255,255,255,.3) !important;
}
.back-button:focus {
  background-color: rgba(255,255,255,.5) !important;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,.2);
}
::-moz-placeholder {
  color: rgba(255,255,255,.2);
}
:-ms-input-placeholder {
  color: rgba(255,255,255,.2);
}
:-moz-placeholder {
  color: rgba(255,255,255,.2);
}
.in-text-button {
    border-bottom: 1px dotted #24acce;
    color: #24acce;
}





/* SETUP */
.register-section .oi.validated {
  color: #00ff76;
}
.register-section .oi.not-validated {
  color: #ff0072;
}
.register-section .password-strength-witness {
  background-color: rgba(36,172,206,.2);
}
.register-section .password-strength-bar {
  background-color: #24acce;
}
#progress-bar {
  background-color: #24acce;
}
#loading-space .star {
  background-color: #01c9fb;
  box-shadow: 0 0 30px #01c9fb;
}




/* INSTASCAN */
#instascan-box {
  background-color: rgba(0,0,0,.8);
}
#close-instascan-button:before,
#close-instascan-button:after {
  background-color: #fff;
}




/* NOTIFY */
.notify-window .obfuscation-layer {
  background-color: rgba(0,0,0,.8);
}
.notify-window .obfuscation-layer {
  background-color: #001;
}
.notify-window .close-btn:after,
.notify-window .close-btn:before {
  background-color: #fff;
}
.notify-window button.accept {
  background-color: #24acce;
}
.notify-window button.cancel {
  background-color: #101010;
}
@media ( max-width: 500px ) {
  .notify-window .close-btn:after,
  .notify-window .close-btn:before {
    background-color: #101010;
  }
}
@media ( max-height: 560px ) {
  .notify-window .close-btn:after,
  .notify-window .close-btn:before {
    background-color: #24acce;
  }
}







