#contracts {

}

	#contracts-list {
		list-style: none;
		margin: 0;
		padding: 20px 0;
	}
		.contract {
			float: left;
			display: block;
			width: 18%;
			margin: 1%;
			border: 1px solid transparent;
		}
			.contract-inner {
				position: relative;
				width: 100%;
				padding-bottom: 100%;
				overflow: hidden;
				cursor: pointer;
				transition: all ease .3s;
				-webkit-transition: all ease .3s;
				-moz-transition: all ease .3s;
				-o-transition: all ease .3s;
			}
			.contract-inner:hover {}
				.contract-inner>p {
					display: block;
					position: absolute;
					word-break: break-word;
					overflow-wrap: break-word;
					line-height: 16px;
					text-align: center;
					width: 80%;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-o-transform: translateX(-50%) translateY(-50%);
				}

	#contract-viewer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		display: none;
	}
		#contract-viewer-contents {
			position: absolute;
			width: 100%;
			max-width: 600px;
			height: 400px;
			top: 40%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-o-transform: translateX(-50%) translateY(-50%);
			padding: 40px;
		}
			#contract-viewer-contents .header {
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
				#contract-viewer-contents .header>img {
					max-width: 260px;
					margin-left: -4%;
				}
			#contract-contents {
				list-style: none;
				margin: 0;
				padding: 0;
			}
				#contract-contents>li {
					display: block;
				}
					#contract-contents>li>span {
						font: inherit;
					}
					#contract-contents .label {
						font-weight: bold;
						padding-left: 0;
					}
					#contract-contents .value {

					}


















