input, textarea,
select, .select,
.button {
  appearance: none;
  padding: 0 12px;
  border: 0;
  margin-bottom: 6px;
  line-height: 42px;
  height: 42px;
  transition: all ease .1s;
  -webkit-transition: all ease .1s;
  -moz-transition: all ease .1s;
  -o-transition: all ease .1s;
}
button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}
input:focus, textarea:focus,
select:focus, .select:focus,
.button:focus, input:hover,
textarea:hover, select:hover,
.select:hover, .button:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 0;
}
input, textarea {
  width: 100%;
}
label {
  display: block;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="text"],
input[type="password"] {
  display: block;
}
input[readonly] {
  cursor: not-allowed;
}
input[disabled], select[disabled], .select[disabled],
textarea[disabled], button[disabled], .button[disabled] {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
textarea {
  line-height: 24px;
  padding: 6px 12px;
  min-height: 180px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-left: 0 !important;
  overflow: hidden;
  vertical-align: middle;
  top: -2px;
}
input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transition: transform ease .3s;
  -webkit-transition: transform ease .3s;
  -moz-transition: transform ease .3s;
  -o-transition: transform ease .3s;
}
input[type="checkbox"]:checked:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
input[type="radio"] {

}
.button, .back-button {
  appearance: none;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 12px 0;
  display: inline-block;
  cursor: pointer;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  overflow: hidden;
  position: relative;
}
.button:after {
  content: '';
  position: absolute;
  z-index: -10;
  width: 50px;
  height: 155px;
  top: -50px;
  left: -75px;
  opacity: 0.5;
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button + .button {
  margin-left: 6px;
}
.in-text-button {
  display: inline-block;
  cursor: pointer;
}
::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
}
::-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}
:-ms-input-placeholder {
  font-style: italic;
  font-weight: 100;
}
:-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}