.notify-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000000;
}
.notify-window .obfuscation-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.95);
}
.notify-window .window {
  position: fixed;
  z-index: 100;
  width: 600px;
  padding: 40px;
  min-height: 200px;
  top: 45%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
}
.notify-window .logo {
  height: 20px;
  display: block;
  margin: 0 auto 10px;
}
.notify-window .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: -30px;
  cursor: pointer;
}
.notify-window .close-btn:after,
.notify-window .close-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -10px;
  background-color: #999;
}
.notify-window button {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  min-width: 120px;
}
.notify-window button.accept {
  background-color: #24acce;
}
.notify-window button.cancel {
  background-color: #de001f;
}
.notify-window .close-btn:before {
  transform: rotate(-45deg);
}
.notify-window .close-btn:after {
  transform: rotate(45deg);
}
.notify-window .text {
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.notify-window .buttons {
  margin-top: 15px;
  text-align: center;
}
.notify-window button + button {
  margin-right: 15px;
}

@media (max-width: 700px) {
  .notify-window .window {
    position: absolute;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
  }
  .notify-window .close-btn {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .notify-window .close-btn:after,
  .notify-window .close-btn:before {
    width: 30px;
    margin-left: -15px;
  }
}

@media ( max-height: 560px ) {
  .notify-window .window {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 0;
    margin-left: 0;
  }
  .notify-window .close-btn {
    top: 10px;
    right: 10px;
  }
  .notify-window .close-btn:after,
  .notify-window .close-btn:before {
    background-color: #24acce;
  }
}
