#setup-page {

}
#setup-page>section {
	display: none;
	padding: 100px 0 300px;
}
#setup-page>section .logo {
	width: 100%;
	max-width: 560px;
	display: block;
	margin: 0 auto;
}


.welcome-section {
	text-align: center;
}
.welcome-section .choices {
	margin-top: 100px;
}


.register-section {
	text-align: center;
}
.register-section .form {
	text-align: justify;
}
.register-section fieldset {
	margin-top: 50px;
}
.register-section .group {
	position: relative;
}
.hostname-block {
	position: relative;
}
.register-hostname {
	display: inline-block !important;
	vertical-align: middle;
	margin-right: 5px;
	width: calc( 100% - 100px);
}
.hostname-block>.permanent {
	display: inline-block;
	vertical-align: middle;
	margin-top: -9px;
}
.hostname-validation {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 5px;
	width: 40px;
	height: 40px;
}
.hostname-validation>span {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: none;
}
.hostname-loading {
	position: absolute;
	top: 0;
	right: 100%;
	margin-right: 5px;
	width: 40px;
	height: 40px;
}
.hostname-loading>span {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 45px; /* shifted to match icon's center */
	opacity: 0;
	transition: opacity ease .3s;
	-webkit-transition: opacity ease .3s;
	-moz-transition: opacity ease .3s;
	-o-transition: opacity ease .3s;
}
.hostname-loading.active>span {
	opacity: 1;
	animation: loadSpinner 1s;
	-webkit-animation: loadSpinner 1s;
	-moz-animation: loadSpinner 1s;
	-o-animation: loadSpinner 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
}
.password-validation-checker {
	position: absolute;
	top: 28px;
	left: 100%;
	width: 40px;
	height: 42px;
	text-align: center;
}
.password-validation-checker>span.oi {
	display: none;
	line-height: 46px;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	left: 0;
	top: 0;
}
.register-section .oi.validated {
	color: #00ff76;
}
.register-section .oi.not-validated {
	color: #ff0072;
}
.register-section .group + .group {
	margin-top: 10px;
}
.register-section .password-resume {
	margin-top: 20px;
	display: none;
}
.register-section .password-strength {
	
}
.register-section .password-strength-witness {
	height: 2px;
	background-color: rgba(36,172,206,.2);
	position: relative;
	width: 100%;
	overflow: hidden;
}
.register-section .password-strength-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #24acce;
	max-width: 100% !important;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
}
.password-resume .password-requirements {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}
.password-resume .password-requirements-validation {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 24px;
	margin-right: 5px;
	position: relative;
	line-height: inherit;
}
.password-resume .password-requirements-validation>.oi {
	display: none;
	position: absolute;
	width: 100%;
	height: 24px;
	text-align: center;
	line-height: inherit;
}
.password-resume .password-requirements-validation>.oi.not-validated {
	display: block;
}
.register-section .encryption input {
	margin: 15px 0;
	text-align: center;
}
.register-section .encryption-word-number {
	line-height: 72px;
}

.encryption-box {
	position: relative;
}
.encryption-word-number {
	position: absolute;
	opacity: 0.6;
	top: 0;
	left: 0;
	line-height: 42px;
	margin-left: -14px;
	font-size: 9px;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
}
.register-section .encryption-word-number {
	margin-left: 0;
}
.encryption-box:hover .encryption-word-number {
	opacity: 0.7;
	font-size: 10px;
}




.recover-section {
	text-align: center;
}
.recover-section .form {
	text-align: justify;
}
.recover-section fieldset {
	margin: 50px 0;
}
.recover-section .insert-keys-block {
	margin: 20px 0;
}


.progress-section {
	text-align: center;
	position: relative;
}
#minebox-device {
	position: relative;
	z-index: 10;
}
#progress-bar-box {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	z-index: 100000;
}
#progress-bar {
	width: 0;
	height: 100%;
	background-color: #24acce;
	top: 0;
	left: 0;
	transition: width ease .3s;
	-webkit-transition: width ease .3s;
	-moz-transition: width ease .3s;
	-o-transition: width ease .3s;
}
#boot-log {
	list-style: none;
	margin: 10px auto;
	padding: 0;
	width: 180px;
	text-align: left;
}
#boot-log>li>input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -2px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
	border-radius: 50%;
	background: transparent;
	border: 2px solid #fff;
	position: relative;
	width: 20px;
	height: 20px;
	cursor: default !important;
}
#boot-log>li>input[type="checkbox"]:focus {
	outline: 0;
}
#boot-log>li>input[type="checkbox"]:before {
	display: none;
}
#boot-log>li>input[type="checkbox"]:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	margin-left: -6px;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	border-radius: 50%;
}
#boot-log>li>input[type="checkbox"]:checked:after {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}



#loading-space {
	position: absolute;
	left: 0;
	width: 100%;
	height: 120px;
	margin-top: 130px;
	overflow: hidden;
	z-index: 1;
}
#loading-space .star {
	position: absolute;
	background-color: #01c9fb;
	box-shadow: 0 0 30px #01c9fb;
	left: 50%;
}


#progress-screen {
	display: none;
	padding: 100px 0 350px;
	text-align: center;
}
#progress-screen h1 {
	font-weight: 100;
	text-transform: uppercase;
}


.prove-section {
	text-align: center;
}
.prove-section fieldset {
	
}
.prove-section fieldset + fieldset {
	margin-top: 20px;
}
.prove-section .insert-keys-block {
	margin-top: 10px;
}