/* base number for vertical rythim: 6 */

/* font style, family, weight and line-heights */
body {
  font-family: 'Heebo', Helvetica, Sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
  text-align: justify;
}

/* specific font sizing */
h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
h5 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
p, span, label, li,
input, select, textarea,
button {
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
}


/* vertical spacings and rythm */
h1 {
  margin-top: 0;
  margin-bottom: 24px;
}
h2 {
  margin-top: 0;
  margin-bottom: 18px;
}
h3 {
  margin-top: 0;
  margin-bottom: 12px;
}
h4 {
  margin-top: 0;
  margin-bottom: 12px;
}
h5 {
  margin-top: 0;
  margin-bottom: 6px;
}
h6 {
  margin-top: 0;
  margin-bottom: 6px;
}
p, span, label, li,
input, select, textarea,
button {
  margin-top: 0;
  margin-bottom: 0;
}
p + p {
  margin-top: 6px;
}

.ic {
  display: inline-block;
  line-height: inherit;
  text-align: inherit;
  font-size: inherit;
}
