#wallet {

}


	#wallet-balance-box {
		text-align: center;
		position: relative;
		padding: 30px 0;
	}
		.wallet-balance {
			font-size: 12px;
			line-height: 18px;
			font-style: italic;
			opacity: 0.7;
		}
		#wallet-sia {
			font-size: 26px;
			line-height: 34px;
			font-style: normal;
			opacity: 1;
		}
			.wallet-balance>span {
				font: inherit;
				display: inline-block;
				vertical-align: middle;
			}
				.currency-sign {
					font-size: 0.8em !important;
					margin-left: 5px !important;
				}
			.wallet-balance>.unconfirmed-incoming-funds {
				display: none;
			}
		#wallet-activity-witness {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			margin: 0;
			display: none;
		}


	#wallet-tabs-buttons {
		text-align: center;
		padding: 30px 0;
	}

		#wallet-tabs-buttons .button {
			margin-top: 0;
			margin-bottom: 0;
		}
		#wallet-tabs-buttons .button + .button {
			margin-left: 30px; /* match bootstrap's col padding * 2 */
		}


	#wallet-tabs {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: none;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform-origin: center center;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
		-o-transform-origin: center center;
		transition: all ease .3s;
		-webkit-transition: all ease .3s;
		-moz-transition: all ease .3s;
		-o-transition: all ease .3s;
	}
	#wallet-tabs.active {
		display: block;
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
	}
		.wallet-tab {
			position: absolute;
			padding: 20px;
			width: 500px;
			height: 305px;
			margin-left: -250px;
			margin-top: -154px;
			top: 40%;
			left: 50%;
			display: none;
			transition: all ease .3s;
			-webkit-transition: all ease .3s;
			-moz-transition: all ease .3s;
			-o-transition: all ease .3s;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
		}
		.wallet-tab.active {
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
		}
			.wallet-tab>.close-wallet-tab-button {
				top: -40px;
				right: -40px;
			}
			.wallet-tab-group {
				padding: 5px 0;
			}
			#wallet-tabs h2 {
				margin-bottom: 0;
			}
			.wallet-tab .input-plus-button {
				display: inline-block;
				width: calc(100% - 50px);
				margin: 0;
			}
			.wallet-tab .button-for-input {
				width: 46px;
				min-width: 0;
				color: #fff;
				margin: 0;
				position: relative;
				top: 1px;
			}

		#send-tab {

		}
			#amount-feedback {
				color: #ff4a86;
			}
			#send-tab .available-amount-line>span {
				font: inherit;
				display: inline-block;
				vertical-align: middle;
				border-bottom: 1px dotted transparent;
				cursor: pointer;
			}

		#receive-tab {
			height: 230px;
		}
			#amount-to-send,
			#amount-to-receive {
				text-align: right;
				font-size: 12px;
			}
			#user-wallet-address-feedback {
				margin-left: 15px;
			}






#receive-funds-qr-code {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}
#qr-code {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 316px;
	height: 316px;
	margin-top: -158px;
	margin-left: -158px;
	padding: 30px;
}
#hide-qr-code-button {
	top: 30px;
	right: 30px;
}