#wallet {

}


	#wallet-balance-box {
		background-color: rgba(36,172,206,.1);
		text-align: center;
		height: 100px;
		position: relative;
	}

		#wallet-balance-text {
			font-size: 26px;
			line-height: 100px;
			color: #fff;
		}
			#wallet-balance-text>span {
				font: inherit;
				display: inline-block;
				vertical-align: middle;
			}
			#wallet-balance {

			}
			#wallet-balance-coin {
				font-size: 16px !important;
				margin-left: 10px !important;
				font-weight: 900 !important;
			}
		#wallet-activity-witness {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			margin: 0;
			display: none;
		}


	#wallet-tabs-buttons {
		text-align: center;
		padding: 30px 0;
	}

		#wallet-tabs-buttons .button {
			margin-top: 0;
			margin-bottom: 0;
		}
		#wallet-tabs-buttons .button + .button {
			margin-left: 30px; /* match bootstrap's col padding * 2 */
		}

	#wallet-tabs {

	}

		#wallet-tabs .wallet-tab {
			display: none;
		}
		#wallet-tabs .wallet-tab.active {
			display: block;
		}


		#send-tab {

		}
			#send-tab .available-amount-line {
				line-height: 30px;
				margin-bottom: 12px;
			}
			#send-tab .available-amount-line>span {
				font: inherit;
				display: inline-block;
				vertical-align: middle;
				border-bottom: 1px dotted rgba(255,255,255,.5);
				cursor: pointer;
			}
			#amount-to-send {
				font-weight: 700;
				text-align: right;
				font-size: 12px;
				color: #fff;
			}
			#amount-feedback {
				color: #f40050;
			}
			#send-tab .button-box {
				text-align: right;
			}


		#receive-tab {

		}
			#receive-tab .receive-params,
			#receive-tab .qr-col {
				padding-bottom: 30px;
			}
				#user-address {

				}
				#amount-to-receive {

				}
				#receive-funds-qr-code {
					background-color: #fff;
					padding-bottom: 100%;
				}



/* locking wallet's textareas width */
#wallet textarea {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}